/* Reset some default margin and padding */
body, h1, h2, h3, p, div {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Greeting Component */
.greeting {
  font-size: 24px;
  margin-bottom: 20px;
}

/* HomeBtn Component */
.home-btn {
  margin-bottom: 20px;
}

.home-btn a {
  display: block;
  margin-bottom: 10px;
  color: #007bff;
  text-decoration: none;
  font-size: 16px;
}

/* Home Component */
.home {
  margin-bottom: 20px;
}

/* AccountList Component */
.account-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.account-preview {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.account-preview:hover {
  transform: scale(1.05);
}

.account-preview a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.account-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.account-info {
  display: flex;
  flex-direction: column;
}

.account-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.account-type {
  font-style: italic;
}

.account-amount {
  color: #28a745;
  font-weight: bold;
  font-size: 16px;
}



/* PayMoney Component */
.pay {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* TransactionList Component */
.transaction-list {
  margin-top: 20px;
}

.transaction {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.transaction h3 {
  font-size: 16px;
}
/* PayMoney Component */
.Pay {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.Pay h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}
